/* Black: #1e1e1e
   White: #f6f6f6
   Gray: #777777;
*/

/*

font-family: 'Lekton', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'News Cycle', sans-serif;
font-family: 'Six Caps', sans-serif;
font-family: 'Miniver', cursive;

*/


body {
	background-color: #f6f6f6;
	color: #1e1e1e;
	font-family: 'News Cycle', sans-serif;
}

#main-banner h1 {
	font-size: 6em;
	color: #1e1e1e;
	font-family: 'Fredericka the Great', cursive;
}

.paragraph-large {
	font-size: 1.25em;
}

#top-nav {
	width: 500px;
	margin: 0 auto;
	background-color: #f6f6f6;
	font-size: 1.25em;
}

#top-social-nav ul {
	list-style-type: none;
}

#top-social-nav ul li {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}

#linkedin {
	height: 44px;
	width: 46px;
	background-image: url('images/linkedin.png');
}



