/* Black: #1e1e1e
   White: #f6f6f6
   Gray: #777777;
*/

/*

font-family: 'Lekton', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'News Cycle', sans-serif;
font-family: 'Six Caps', sans-serif;
font-family: 'Miniver', cursive;

*/
a {
	color: #1e1e1e;
}

a:hover {
	color: #777777;;
	text-decoration: none;
}

body {
	background-color: #f6f6f6;
	color: #1e1e1e;
	font-family: 'News Cycle', sans-serif;
}

#main-banner h1 {
	font-size: 6em;
	color: #1e1e1e;
	font-family: 'Fredericka the Great', cursive;
}

.paragraph-large {
	font-size: 1.25em;
}

#top-nav {
	width: 600px;
	margin: 0 auto;
	background-color: #f6f6f6;
	font-size: 1.25em;
}

#top-social-nav ul {
	list-style-type: none;
}

#top-social-nav ul li {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}

#linkedin {
	height: 44px;
	width: 46px;
}

#bio-page {
	text-align: center;
}

#bio-image {
	margin: 50px 0 25px 0;
}

#writing-content {
	margin: 20px 0 50px 0;
}

#nylon-mags div {
	display: inline-block;
}

#writing-footer {
	margin-top: 200px;
	font-size: 0.75em;
}

#include-footer {
	margin-top: 500px;
	text-align: center;
}

#screenwriting-content {
	margin-top: 25px;
}

#screenwriting-images {
	text-align: center;
}

#screenwriting-images a {
	display: block;
}

#nikko-cover {
	margin-top: 50px;
	border: 1px solid black;
}

#contact-content {
	margin-top: 50px;
	font-size: 1em;
}

.superscript {
	font-size: 0.5em;
	vertical-align: super;
}
