<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <div class="container">
        <div class="site">
          <div class="row">
            <div id="default-banner" class="col-lg-12">
              {% include  banner.html %}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2"></div>
            <div id= "default-content" class="col-lg-8">
              {{ content }}
            </div>
            <div class="col-lg-2"></div>
          </div>
          <div class="row">
            <div class="col-lg-2"></div>
            <div id="default-footer" class="col-lg-8">
              {% include footer.html %}
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>
      </div> <!-- /container -->
  </body>
</html>